apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: cloud-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: cloudappacr2026.azurecr.io/order-service:v2
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/orderdb
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: CATALOG_SERVICE_URL
              value: http://catalog-service:8081
            - name: AZURE_STORAGE_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: azure-storage-secret
                  key: CONNECTION_STRING
            - name: AZURE_STORAGE_QUEUE_NAME
              value: invoice-queue
          readinessProbe:
            httpGet:
              path: /api/orders
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/orders
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: cloud-app
spec:
  selector:
    app: order-service
  ports:
    - port: 8082
      targetPort: 8082