apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kv-secrets
  namespace: cloud-app
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "d5526868-db7a-492b-b3ed-a396adcc2aa9"
    keyvaultName: "cloudapp-kv2026"
    tenantId: "ada575f6-4e91-4d1d-aa89-9b2d9f5810e3"
    objects: |
      array:
        - |
          objectName: storage-connection-string
          objectType: secret
        - |
          objectName: postgres-password
          objectType: secret
  secretObjects:
    - secretName: kv-secrets-synced
      type: Opaque
      data:
        - objectName: storage-connection-string
          key: CONNECTION_STRING
        - objectName: postgres-password
          key: POSTGRES_PASSWORD